{% extends "base.html" %}
{% block title %}Photo Gallery{% endblock %}

{% block content %}
<h1 class="dot-matrix">📷 Photo Gallery</h1>

<div class="gallery-grid">
    <img src="https://i.postimg.cc/pr39Mtsj/IMG-20250402-WA0000-2.jpg">
    <img src="https://i.postimg.cc/nLTCcmdp/Whats-App-Image-2025-03-07-at-03-28-43-4216b575.jpg">
    <img src="https://i.postimg.cc/xd9X2536/IMG-20250413-WA0021.jpg">
    <img src="https://i.postimg.cc/dQfZy8J0/IMG-20250402-WA0001-2.jpg">
    <img src="https://i.postimg.cc/J4BDcGh5/IMG-20250402-WA0001.jpg">
    <img src="https://i.postimg.cc/bwcG6pDc/IMG-20250402-WA0006.jpg">
    <img src="https://i.postimg.cc/8zR799MF/IMG-20250413-WA0009.jpg">
</div>
{% endblock %}
