{% extends "base.html" %}
{% block title %}projects{% endblock %}

{% block content %}
<h1 class="dot-matrix">My projects</h1>

<div class="projects-grid">
    <!-- Project 1 -->
    <div class="project-card">
        <img src="" alt="Project 1">
        <h3>📱 EDIfication Learning Platform</h3>
        <p>A full educational website built using Flask that includes quizzes, video notes, timestamped learning, and subject filtering by board & year.</p>
        <a href="https://github.com/Shahriark369/Edification" target="_blank">View Project</a>
    </div>

    <!-- Project 2 -->
    <div class="project-card">
        <img src="" alt="Project 2">
        <h3>Sherwood-25</h3>
        <p>This is a website of my college rag day online vidoes and images even facebook reaction gather!</p>
        <a href="https://sherwood-25.streamlit.app/">Live View</a>
    </div>

    <!-- Project 3 -->
    <div class="project-card">
        <img src="" alt="Project 3">
        <h3>Earnify- earn online</h3>
        <p>Earn money online in the easy way and all data manage for user and admin.</p>
        <a href="https://earnify.streamlit.app/">Live view</a>
    </div>

</div>
{% endblock %}
